.popup, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.popup{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
}
.overlay{
    background: rgba(240, 240, 240, 0.5);
}
.popup-content {
    width: 75vw;
    height: 65vh;
    padding: 14px;
    margin-top: 13vh;
    border-radius: 1rem;
    background: white;
    position: absolute;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 26vw 1fr;
    box-shadow: 0 0 10px 1px black;
}
.popup-content img{
    height: 65vh;
    width: auto;
    border-radius: 0.5rem;
    margin-right: 2rem;
}
.main-info{
    min-width: 15vw;
    max-width: 26vw;
    overflow: hidden;
    border-right: 2px solid rgb(170,170,170);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.main-info h1{
    font-size: 5em;
    height: fit-content;
    margin: 0;
    font-weight: 500;
    line-height: 1;
    color: rgb(47, 79, 79);
}
.main-info h2{
    color: rgba(47, 79, 79, 0.9);
    font-size: 1.4em;
    width: 90%;
}
.power-stats{
    width: 90%;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid rgb(170,170,170);
}
.popup-content h3{
    color: rgb(30, 30, 30);
    font-size: 1.4em;
    width: fit-content;
    margin-bottom: 0.3rem;
}
.popup-content h4{
    color: rgba(47, 79, 79, 1);
    font-size: 1em;
}
.popup-content h5{
    color: rgba(47, 79, 79, 0.8);
    font-size: 1em;
}
.biography{
    padding: 1rem;
}