.navbar{
    position: fixed;    
    width: 100%;
    min-height: 15vh;
    top: 0;
    z-index: 1;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);    
}
.header_upper{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    margin-top: 0.5rem;
}
.header_upper h1{
    color: white;
}
.header_upper input{
    width: 400px;
    height: 1.8rem;
    padding-left: 20px;
    border-radius: 1rem;
    border: 0;
    text-overflow: ellipsis;
}
.header_upper input:hover, .header_upper input:focus{
    outline: 0;
}
.login button{
    background: none;
    color: white;
    font-size: 1.1em;
    padding: 0.1rem 0.6rem 0.2rem 0.6rem;
    border-radius: 0.6rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.6);
}
.login button:hover{
    cursor: pointer;
    border-color: #ffbc42;
    box-shadow: 0 0 6px 1px #ffbd427c;
}
.login button img{
    filter: invert(100%) brightness(100%);
    height: 2rem;
}
.login h3{
    font-weight: 400;
}
.header_upper h1{
    font-size: 2em;
    font-family: myriad-pro, sans-serif;
    font-weight: 800;
    font-style: normal;
}
.navbar ul{
    width: 80%;
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    margin: 1rem 0rem 0.5rem 0;
}
.navbar ul li{

    max-width: 250px;
    text-align: center;
}
.navbar ul li button{
    text-align: center;
    text-decoration: none;
    color: white;
    background: none;
    border: none;
    font-size: 1em;
    font-weight: normal;
}
.navbar ul li button:hover{
    color: #ffbc42;
    text-decoration: underline #ffbc42;
    cursor: pointer;
}
@media(max-width: 900px){
    .header_upper{
        width: 90%;
        gap: 2rem;
        padding: 0 1rem;
    }
}
@media(max-width: 750px){
    .header_upper{
        width: 85%;
        gap: 0.5rem;
        padding: 0 0rem;
        margin-top: 0.3rem;
    }
    .login button{
        border: 0;
        padding: 0;
    }
    .login button h3{
        display: none;
    }
    .navbar ul{
        width: 90%;
    }
}
@media(max-width: 500px){

    .header_upper{
        display: grid;
        grid-template-columns: 10fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0.5rem;
    }
    .header_upper input{
        width: calc(100% - 20px);
        grid-column: 1/3;
        grid-row: 2;
        height: 2rem;
        border-radius: 1.5rem;
    }
    .header_upper h1{
        font-size: 2em; 
    }
    .login button img{
        height: 2.5rem;
    }
    .navbar ul{
        display: none;
    }
}
@media(max-width: 300px){
    .header_upper h1{
        font-size: 1.8rem;
    }
}
@media(max-height: 500px){
    .navbar{
        position: relative;
    }
}