.empty{
    max-height: 100vh;
}
.page-empty{
    width: 100%;
    height: 84vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 16vh;
    background-color: #ffbc42;
}
.page-empty img{
    max-width: 800px;
}
.page-empty h1{
    max-width: 300px;
}